# Fichiers de configuration dérivés et métadonnées QGIS
*.aux.xml
*.qix
*.qpj
*.qgs
*.qgz
*.qmd

# Données et sorties lourdes
data/
models/
outputs/
!outputs/img15.PNG
!outputs/img25.PNG

# Python
__pycache__/
*.pyc

# Système
.DS_Store
Thumbs.db
